{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}
{% block body %}
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
    </script>

    <section class="content-header">
        <h1>
            {{ header['date'] }} - {{ header['locality'] }} - {{ header['crop'] }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-list"></i> Seznam</a></li>
            <li class="active">{{ header['date'] }} - {{ header['locality'] }} - {{ header['crop'] }}</li>
        </ol>
    </section>



    <section class="content">
        {{ form_start(form) }}
        <div class="box box-solid">
            <div class="box-header">
                {% include "forms/sequenceTypeModalEdit.html.twig" %}
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>agrotechnologie:</dt>
                    <dd>{{ header['agrotechnology'] }}</dd>
                    <dt>počet dnů od poslední agro-operace:</dt>
                    <dd>{{ header['last_agrooperation_days'] }}</dd>
                    <dt>canopy cover:</dt>
                    <dd>{{ header['canopy_cover'] }}</dd>
                    <dt>BBCH plodiny:</dt>
                    <dd>{{ header['crop_bbch'] }}</dd>
                </dl>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#runType">
                    {% trans %}add run{% endtrans %}
                </button>
            </div>
        </div>

        {% for runForm in form.runs.children %}
            {% set runArray = runs[runForm.vars.value.getId() ] %}
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        {{ runArray['run_type'] }}
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel box box-solid">
                        <div class="box-header">
                            <div class="box-tools pull-right">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li role="presentation">
                                            <a role="menuitem" data-toggle="modal" data-target="#runType{{ runForm.vars.value.getId() }}" tabindex="-1" href="javascript:;">{% trans %}edit{% endtrans %}</a>
                                        </li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="{{ path('sequence', {id:header['id'],delete_run:runForm.vars.value.getId()}) }}">{% trans %}delete{% endtrans %}</a>
                                        </li>
                                    </ul>
                                </div>
                                {% include "forms/runTypeModalEdit.html.twig" %}
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <dl class="dl-horizontal">
                                        <dt>{% trans %}rain_start{% endtrans %}:</dt>
                                        <dd>{{ runArray['rain_start'] }}</dd>
                                        <dt>{% trans %}runoff_start{% endtrans %}:</dt>
                                        <dd>{{ runArray['runoff_start'] }}</dd>
                                        <dt>{% trans %}rain_intensity{% endtrans %}:</dt>
                                        <dd>{{ runArray['rain_intensity'] }}</dd>
                                        <dt>{% trans %}init_moisture{% endtrans %}:</dt>
                                        <dd>{{ runArray['init_moisture'] }}</dd>
                                        {{ macros.soilsample('soil_sample_corq', runArray['soil_sample_corq'], runArray['soil_sample_corq_assignment']) }}
                                        {{ macros.soilsample('soil_sample_bulk', runArray['soil_sample_bulk'], runArray['soil_sample_bulk_assignment']) }}
                                        {{ macros.soilsample('soil_sample_texture', runArray['soil_sample_texture'], runArray['soil_sample_texture_assignment']) }}

                                        <dt>{% trans %}files{% endtrans %}</dt>
                                        <dd>
                                            {% for file in runArray['files'] %}
                                                <a href="{{path('downloadFile',{'runId':runArray['id'],'filename':file})}}" target="_blank">{{file}}</a> <a class="text-danger" href="{{path('deleteFile',{'runId':runArray['id'],'filename':file})}}" ><i class="fa fa-trash"></i></a><br />
                                            {% endfor %}
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-parent="{{ runArray['id'] }}" data-target="#measurement">
                                {% trans %}add measurement{% endtrans %}
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 records">
                    {% for formMeasurement in runForm.measurements %}
                        {% set measurementArray = runArray.measurements[formMeasurement.vars.value.getId()] %}
                        <div class="row">
                            <div class="col-md-12">
                                <h4>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            Data <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="javascript:;" data-toggle="modal" data-parent="{{ measurementArray['id'] }}" data-target="#record">{% trans %}add record{% endtrans %}</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" data-toggle="modal" data-target="#measurement{{ formMeasurement.vars.value.getId() }}" tabindex="-1" href="#">{% trans %}edit{% endtrans %}</a>
                                            </li>
                                            <li role="presentation" class="divider"></li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="{{ path('sequence', {id:header['id'],delete_measurement:formMeasurement.vars.value.getId()}) }}">{% trans %}delete{% endtrans %}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </h4>
                                {% include "forms/measurementTypeModalEdit.html.twig" %}
                                <p>
                                    {% if measurementArray['description'] %}
                                        {{ measurementArray['description'] }}
                                    {% endif %}
                                </p>
                                {% if measurementArray['note'] %}
                                    <i>* {{ measurementArray['note'] }}</i>
                                {% endif %}
                                <div class="box-group" id="accordion">
                                    {% for formRecord in formMeasurement.records %}
                                        {% set record = formRecord.vars.value %}
                                        <div class="panel box box-solid">
                                            <div class="box-header">
                                                <h4 class="box-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#record-{{ record.getId() }}" class="collapsed" aria-expanded="false">
                                                        {{ record.getUnit().getDescriptionCZ() }}
                                                    </a>
                                                    <small>{{ record.getRecordType().getNameCZ() }}</small>
                                                    <span class="badge bg-primary">#{{ record.getId() }}</span>
                                                    {% for sourceRecord in record.getSourceRecords() %}
                                                        <span class="badge bg-primary">{% trans %}derived from{% endtrans %} #{{ sourceRecord.getId() }}</span>
                                                    {% endfor %}
                                                </h4>
                                                <div class="box-tools pull-right">
                                                    <input type="checkbox" class="icheckbox_flat-green" data-toggle="chart" data-target="#chart-run-{{ runArray['id'] }}" data-run="{{ runArray['id'] }}" data-record="{{ record.getId() }}">
                                                    <div class="dropdown inline">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                            <span class="caret"></span>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li role="presentation">
                                                                <a role="menuitem" tabindex="-1" href="{{ path('sequence', {id:header['id'],delete_record:record.getId()}) }}">{% trans %}delete{% endtrans %}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="record-{{ record.getId() }}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                <div class="box-body">
                                                    {#% include "forms/recordTypeModalEdit.html.twig" %#}
                                                    <p><i>{{ record.getNoteCZ() }}</i></p>
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <th>{% trans %}time{% endtrans %}</th>
                                                            {% if record.getRelatedValueUnit() is not same as(null) %}
                                                                <th>{{ record.getRelatedValueUnit().getNameCZ() }}
                                                                    [{{ record.getRelatedValueUnit().getUnit() }}]
                                                                </th>
                                                            {% endif %}
                                                            <th>{{ record.getUnit().getNameCZ() }}
                                                                [{{ record.getUnit().getUnit() }}]
                                                            </th>
                                                        </tr>
                                                        {% for data in record.getData() %}
                                                            <tr>
                                                                <td>{{ data.getTime().format("H:i:s") }}</td>
                                                                {% if  record.getRelatedValueUnit() is not same as(null) %}
                                                                    {% if data.getRelatedValue() is not same as(null) %}
                                                                        <td>{{ data.getRelatedValue() }} {{ record.getRelatedValueUnit().getUnit() }}</td>
                                                                    {% else %}
                                                                        <td></td>
                                                                    {% endif %}
                                                                {% endif %}
                                                                <td>{{ data.getValue() }} {{ record.getUnit().getUnit() }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary chart-box">
                        <div class="box-header with-border">
                            <i class="fa fa-bar-chart-o"></i>
                            <h3 class="box-title">{{ runArray['run_type'] }}</h3>
                        </div>
                        <div class="box-body collapse">
                            <div id="chart-run-{{ runArray['id'] }}" style="height: 300px;" data-datalink="{{ path('chartData') }}"></div>
                        </div>
                        <!-- /.box-body-->
                    </div>
                </div>
            </div>
        {% endfor %}
        {{ form_end(form,{'render_rest': false}) }}
    </section>

    {% include "forms/measurementTypeModalNew.html.twig" %}
    {% include "forms/recordTypeModalNew.html.twig" %}
    {% include "forms/runTypeModalNew.html.twig" %}
{% endblock %}
