{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}
{% block body %}
    <section class="content-header">
        <h1>
            {{ header['date'] }} - {{ header['locality'] }} - {{ header['crop'] }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-list"></i> Seznam</a></li>
            <li class="active">{{ header['date'] }} - {{ header['locality'] }} - {{ header['crop'] }}</li>
        </ol>
    </section>

    <section class="content">
        {{ form_start(form) }}
        <div class="box box-solid">
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>agrotechnologie:</dt>
                    <dd>{{ header['agrotechnology'] }}</dd>
                    <dt>počet dnů od poslední agro-operace:</dt>
                    <dd>{{ header['last_agrooperation_days'] }}</dd>
                    <dt>canopy cover:</dt>
                    <dd>{{ header['canopy_cover'] }}</dd>
                    <dt>BBCH plodiny:</dt>
                    <dd>{{ header['crop_bbch'] }}</dd>
                </dl>
                {% include "forms/sequenceType.html.twig" %}
            </div>
        </div>
        {% include "forms/runTypeModalNew.html.twig" %}


        {% for runForm in form.runs.children %}
            {% set runArray = runs[runForm.vars.value.getId() ] %}
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        {{ runArray['run_type'] }}
                    </h2>
                    {% include "forms/runTypeModalEdit.html.twig" %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel box box-solid">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <dl class="dl-horizontal">
                                        <dt>{% trans %}rain_start{% endtrans %}:</dt>
                                        <dd>{{ runArray['rain_start'] }}</dd>
                                        <dt>{% trans %}runoff_start{% endtrans %}:</dt>
                                        <dd>{{ runArray['runoff_start'] }}</dd>
                                        <dt>{% trans %}rain_intensity{% endtrans %}:</dt>
                                        <dd>{{ runArray['rain_intensity'] }}</dd>
                                        <dt>{% trans %}init_moisture{% endtrans %}:</dt>
                                        <dd>{{ runArray['init_moisture'] }}</dd>
                                        {{ macros.soilsample('soil_sample_corq', runArray['soil_sample_corq'], runArray['soil_sample_corq_assignment']) }}
                                        {{ macros.soilsample('soil_sample_bulk', runArray['soil_sample_bulk'], runArray['soil_sample_bulk_assignment']) }}
                                        {{ macros.soilsample('soil_sample_texture', runArray['soil_sample_texture'], runArray['soil_sample_texture_assignment']) }}
                                        <dt>raw data:</dt>
                                        <dd><a>file.zip <i class="fa fa-download"></i></a>, <a>file2.zip
                                                <i class="fa fa-download"></i></a></dd>
                                    </dl>
                                    {% include "forms/measurementTypeModalNew.html.twig" %}
                                    <button class="btn btn-primary btn-sm">{% trans %}save csv{% endtrans %}</button>
                                    <!-- /.modal -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-8">
                    {% for formMeasurement in runForm.measurements %}
                        {% set measurementArray = runArray.measurements[formMeasurement.vars.value.getId()] %}
                        <div class="row">
                            <div class="col-md-12">
                                {% include "forms/recordTypeModalNew.html.twig" %}
                                <div class="box-group" id="accordion">
                                    {% for record in measurementArray['records'] %}
                                        <div class="panel box box-solid">
                                            <div class="box-header">
                                                <h4 class="box-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#record-{{ record.getId() }}" class="collapsed" aria-expanded="false">
                                                        {{ record.getUnit().getDescriptionCZ() }}
                                                    </a>
                                                    <small>{{ record.getRecordType().getNameCZ() }}</small>
                                                    <span class="badge bg-primary">#{{ record.getId() }}</span>
                                                    {% for sourceRecord in record.getSourceRecords() %}
                                                        <span class="badge bg-primary">{% trans %}derived from{% endtrans %} #{{ sourceRecord.getId()}}</span>
                                                    {% endfor %}
                                                </h4>
                                                <div class="box-tools pull-right">
                                                    <input type="checkbox" class="icheckbox_flat-green">
                                                </div>
                                            </div>
                                            <div id="record-{{ record.getId() }}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                <div class="box-body">
                                                    <p><i>{{ record.getNoteCZ() }}</i></p>
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <th>{% trans %}time{% endtrans %}</th>
                                                            {% if record.getRelatedValueUnit() is not same as(null) %}
                                                                <th>{{ record.getRelatedValueUnit().getNameCZ() }}
                                                                    [{{ record.getRelatedValueUnit().getUnit() }}]
                                                                </th>
                                                            {% endif %}
                                                            <th>{{ record.getUnit().getNameCZ() }}
                                                                [{{ record.getUnit().getUnit() }}]
                                                            </th>
                                                        </tr>
                                                        {% for data in record.getData() %}
                                                            <tr>
                                                                <td>{{ data.getTime().format("H:i:s") }}</td>
                                                                {% if record.getRelatedValueUnit() is not same as(null) %}
                                                                    <td>{{ data.getRelatedValue() }} {{ record.getUnit().getRelatedValueUnit() }}</td>
                                                                {% endif %}
                                                                <td>{{ data.getValue() }} {{ record.getUnit().getUnit() }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        {% endfor %}
        {{ form_end(form,{'render_rest': false}) }}
    </section>
{% endblock %}
