{% extends 'base.html.twig' %}
{% block title %}Rainsimulator - {{ header['date'] }} - {{ header['locality'] }}{% endblock %}
{% import 'macros.twig' as macros %}
{% block body %}
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
    </script>

    <section class="content-header">
        <h1>
            {{ header['date'] }} - {{ header['locality'] }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-list"></i> Seznam</a></li>
            <li class="active">{{ header['date'] }} - {{ header['locality'] }}</li>
        </ol>
    </section>

    <section class="content">
        {{ form_start(form) }}

        {{ form_end(form,{'render_rest': false}) }}
    </section>
{#    {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR')) %}#}
{#        {% include "forms/measurementTypeModalNew.html.twig" %}#}
{#        {% include "forms/recordTypeModalNew.html.twig" %}#}
{#        {% include "forms/runTypeModalNew.html.twig" %}#}
{#        {% include "forms/runGroupTypeModalNew.html.twig" %}#}
{#    {% endif %}#}
{% endblock %}
