{% extends 'base.html.twig' %}
{% block title %}RunoffDB - {% trans %}sequences{% endtrans %}{% endblock %}
{% block body %}
    <section class="content-header">
        <h1>
            {% trans %}sequences{% endtrans %}
        </h1>
    </section>
    <section class="content container-fluid">

        <div class="box box-primary">
            {{ form_start(filter) }}
            <div class="box-body">
                <div class="row">
                    <div class="form-group col-md-2">{{ form_row(filter.dateFrom) }}</div>
                    <div class="form-group col-md-2">{{ form_row(filter.dateTo) }}</div>
                    <div class="form-group col-md-2">{{ form_row(filter.locality) }}</div>
                    <div class="form-group col-md-2">{{ form_row(filter.organization) }}</div>
                    <div class="form-group col-md-2">{{ form_row(filter.crop) }}</div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(filter.search) }}
                    </div>
                </div>
            </div>
            {{ form_end(filter) }}
        </div>

        <div class="box box-primary">
            <div class="box-body">
                {# total items count #}
                <table class="table table-bordered table-hover table-striped sort-table">
                    <thead>
                    <tr>
                        <th style="width: 100px">
                            {{ knp_pagination_sortable(pagination, '#', ['sequence.id']) }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Date'|trans({}, 'messages'), ['sequence.date']) }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Locality'|trans({}, 'messages'), ['l.name']) }}
                        </th>
                        <th>
                            {% trans %}Plot{% endtrans %}
                        </th>
                        <th>
                            {% trans %}Crop{% endtrans %}
                        </th>
                        <th style="width: 120px">
                        </th>
                    </tr>
                    </thead>
                    {# table body #}
                    {% for sequence in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ sequence.getId() }}</td>
                            <td>{{ sequence.getDate().format('d.m.Y') }}</td>
                            <td>{{ sequence.getLocality() }}</td>
                            <td>{{ sequence.listPlots() }}</td>
                            <td>{{ sequence.listCrops() }}</td>
                            <td>
                                {% if (is_granted('edit',sequence)) %}
                                    <a class="btn btn-sm btn-primary" href="{{ path('sequence',{id:sequence.getId()}) }}"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-sm btn-danger" data-confirm="{% trans %}smazat{% endtrans %}?" href="{{ path('remove_sequence',{id:sequence.getId()}) }}"><i class="fa fa-trash"></i></a>
                                {% else %}
                                    <a class="btn btn-sm btn-primary" href="{{ path('sequence',{id:sequence.getId()}) }}"><i class="fa fa-eye"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
