{{ form_start(formMeasurement) }}
{{ form_widget(formMeasurement.run_id,{'attr':{'value':run['id']}}) }}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{% trans %}add measurement{% endtrans %}</h4>
</div>
<div class="modal-body">

    <div class="form-group">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#run_{{ run['id'] }}_measurement_description_cz" data-toggle="tab" aria-expanded="true">{{ form_label(formMeasurement.descriptionCZ) }}</a>
                </li>
                <li class="">
                    <a href="#run_{{ run['id'] }}_measurement_description_en"  data-toggle="tab" aria-expanded="false">{{ form_label(formMeasurement.descriptionEN) }}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="run_{{ run['id'] }}_measurement_description_cz">
                    {{ form_widget(formMeasurement.descriptionCZ) }}
                </div>
                <div class="tab-pane" id="run_{{ run['id'] }}_measurement_description_en">
                    {{ form_widget(formMeasurement.descriptionEN) }}
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#run_{{ run['id'] }}_measurement_note_cz" data-toggle="tab" aria-expanded="true">{{ form_label(formMeasurement.noteCZ) }}</a>
                </li>
                <li class="">
                    <a href="#run_{{ run['id'] }}_measurement_note_en"  data-toggle="tab" aria-expanded="false">{{ form_label(formMeasurement.noteEN) }}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="run_{{ run['id'] }}_measurement_note_cz">
                    {{ form_widget(formMeasurement.noteCZ) }}
                </div>
                <div class="tab-pane" id="run_{{ run['id'] }}_measurement_note_en">
                    {{ form_widget(formMeasurement.noteEN) }}
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">
        Zavřít
    </button>
    {{ form_row(formMeasurement.save) }}
</div>
{{ form_end(formMeasurement) }}
