<div class="modal fade" id="record{{ record.getId() }}" data-id="{{ record.getId() }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans %}upload data{% endtrans %}</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="form-group col-sm-12">
                        {{ form_row(formRecord.recordType) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form_row(formRecord.unit) }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form_row(formRecord.relatedValueXUnit) }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form_row(formRecord.relatedValueYUnit) }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form_row(formRecord.relatedValueZUnit) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#{{ formRecord.noteCZ.vars.id }}" data-toggle="tab" aria-expanded="true">{{ form_label(formRecord.noteCZ) }}</a>
                                </li>
                                <li class="">
                                    <a href="#{{ formRecord.noteEN.vars.id }}" data-toggle="tab" aria-expanded="false">{{ form_label(formRecord.noteEN) }}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="{{ formRecord.noteCZ.vars.id }}">
                                    {{ form_widget(formRecord.noteCZ) }}
                                </div>
                                <div class="tab-pane" id="{{ formRecord.noteEN.vars.id }}">
                                    {{ form_widget(formRecord.noteEN) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form_row(formRecord.sourceRecords) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>{% trans %}load data{% endtrans %}</label>
                        {{ form_row(formRecord.datafile) }}
                        <p class="help-block">Max. 32MB, *.csv</p>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <td data-prototype="{{ form_widget(formRecord.datas.vars.prototype.time)|e }}">
                                    <i class="fa fa-clock-o"></i></td>
                                <td data-toggle-on="{{ formRecord.unit.vars.full_name }}" data-prototype="{{ form_widget(formRecord.datas.vars.prototype.value)|e }}">
                                    <span data-depends="{{ formRecord.unit.vars.full_name }}"></span>
                                </td>
                                <td data-toggle-on="{{ formRecord.relatedValueXUnit.vars.full_name }}" data-prototype="{{ form_widget(formRecord.datas.vars.prototype.related_value_X)|e }}">
                                    <span data-depends="{{ formRecord.relatedValueXUnit.vars.full_name }}"></span>
                                </td>
                                <td  data-toggle-on="{{ formRecord.relatedValueYUnit.vars.full_name }}" data-prototype="{{ form_widget(formRecord.datas.vars.prototype.related_value_Y)|e }}">
                                    <span data-depends="{{ formRecord.relatedValueYUnit.vars.full_name }}"></span>
                                </td>
                                <td data-toggle-on="{{ formRecord.relatedValueZUnit.vars.full_name }}" data-prototype="{{ form_widget(formRecord.datas.vars.prototype.related_value_Z)|e }}">
                                    <span data-depends="{{ formRecord.relatedValueZUnit.vars.full_name }}"></span>
                                </td>
                                <td>
                                    <a class="text-danger removeRow" style="display: none;"><i class="fa fa-minus"></i></a>
                                    <a class="text-success addFormRow"><i class="fa fa-plus"></i></a>
                                </td>
                            </tr>
                            {% for formData in formRecord.datas%}
                                <tr>
                                    <td>
                                        {{ form_widget(formData.time)}}
                                    <td data-toggle-on="{{ formRecord.unit.vars.full_name }}">
                                        {{ form_widget(formData.value, {'type':'number'}) }}
                                    </td>
                                    <td data-toggle-on="{{ formRecord.relatedValueXUnit.vars.full_name }}">
                                        {{ form_widget(formData.related_value_X, {'type':'number'}) }}
                                    </td>
                                    <td data-toggle-on="{{ formRecord.relatedValueYUnit.vars.full_name }}">
                                        {{ form_widget(formData.related_value_Y, {'type':'number'}) }}
                                    </td>
                                    <td data-toggle-on="{{ formRecord.relatedValueZUnit.vars.full_name }}">
                                        {{ form_widget(formData.related_value_Z, {'type':'number'}) }}
                                    </td>
                                    <td>
                                        <a class="text-danger removeRow" ><i class="fa fa-minus"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">
                    {% trans %}close{% endtrans %}
                </button>
                <div class="modal-footer">
                    {{ form_row(formRecord.save) }}
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
