<h4>Data
    <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#add-record-measurement-{{ measurementArray.id }}">
        {% trans %}add{% endtrans %}
    </button>
</h4>
<div class="modal fade" id="add-record-measurement-{{ measurementArray.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans %}upload data{% endtrans %}</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="form-group col-sm-12">
                        {{ form_row(formMeasurement.records.vars.prototype.recordType) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form_row(formMeasurement.records.vars.prototype.unit) }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form_row(formMeasurement.records.vars.prototype.relatedValueUnit) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#{{ formMeasurement.records.vars.prototype.noteCZ.vars.id }}" data-toggle="tab" aria-expanded="true">{{ form_label(formMeasurement.records.vars.prototype.noteCZ) }}</a>
                                </li>
                                <li class="">
                                    <a href="#{{ formMeasurement.records.vars.prototype.noteEN.vars.id }}" data-toggle="tab" aria-expanded="false">{{ form_label(formMeasurement.records.vars.prototype.noteEN) }}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="{{ formMeasurement.records.vars.prototype.noteCZ.vars.id }}">
                                    {{ form_widget(formMeasurement.records.vars.prototype.noteCZ) }}
                                </div>
                                <div class="tab-pane" id="{{ formMeasurement.records.vars.prototype.noteEN.vars.id }}">
                                    {{ form_widget(formMeasurement.records.vars.prototype.noteEN) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form_row(formMeasurement.records.vars.prototype.sourceRecords) }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form_row(formMeasurement.records.vars.prototype.relatedRecords) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>{% trans %}load data{% endtrans %}</label>
                        {{ form_row(formMeasurement.records.vars.prototype.datafile) }}
                        <p class="help-block">Max. 32MB, *.csv</p>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <td data-prototype="{{ form_widget(formMeasurement.records.vars.prototype.data.vars.prototype.time)|e }}">
                                    <i class="fa fa-clock-o"></i></td>
                                <td data-prototype="{{ form_widget(formMeasurement.records.vars.prototype.data.vars.prototype.value)|e }}">
                                    <span data-depends="{{ formMeasurement.records.vars.prototype.unit.vars.full_name }}"></span>
                                </td>
                                <td data-prototype="{{ form_widget(formMeasurement.records.vars.prototype.data.vars.prototype.related_value)|e }}">
                                    <span data-depends="{{ formMeasurement.records.vars.prototype.relatedValueUnit.vars.full_name }}"></span>
                                </td>
                                <td>
                                    <a class="text-danger removeRow" style="display: none;"><i class="fa fa-minus"></i></a>
                                    <a class="text-success addFormRow"><i class="fa fa-plus"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">
                    {% trans %}close{% endtrans %}
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
