<div class="modal fade appendToCollection" id="run">
    {{ form_start(runForm) }}
    {{ form_widget(runForm.parent_id) }}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans %}add run{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        {{ form_row(runForm.plot) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ form_row(runForm.pondingStart) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_row(runForm.runoffStart) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ form_row(runForm.cropBBCH) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_row(runForm.surfaceCover) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">

                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#Run_cropConditionCZ" data-toggle="tab" aria-expanded="true">{{ form_label(runForm.cropConditionCZ) }}</a>
                                </li>
                                <li class="">
                                    <a href="#Run_cropConditionEN" data-toggle="tab" aria-expanded="false">{{ form_label(runForm.cropConditionEN) }}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="Run_cropConditionCZ">
                                    {{ form_widget(runForm.cropConditionCZ) }}
                                </div>
                                <div class="tab-pane" id="Run_cropConditionEN">
                                    {{ form_widget(runForm.cropConditionEN) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_noteCZ" data-toggle="tab" aria-expanded="true">{{ form_label(runForm.noteCZ) }}</a>
                                </li>
                                <li class="">
                                    <a href="#tab_noteEN" data-toggle="tab" aria-expanded="false">{{ form_label(runForm.noteEN) }}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_noteCZ">
                                    {{ form_widget(runForm.noteCZ) }}
                                </div>
                                <div class="tab-pane" id="tab_noteEN">
                                    {{ form_widget(runForm.noteEN) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_row(runForm.rawData) }}
                            <p class="help-block">Max. 32MB, *.zip</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ form_row(runForm.soilSampleCorg) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_row(runForm.corgAssignmentType) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ form_row(runForm.soilSampleBulk) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_row(runForm.bulkAssignmentType) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ form_row(runForm.soilSampleTexture) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_row(runForm.textureAssignmentType) }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">
                    {% trans %}close{% endtrans %}
                </button>
                {{ form_widget(runForm.save) }}
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    {{ form_end(runForm,{'render_rest': false}) }}
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

