<div class="box-tools pull-right">
    <button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#sequenceType">
        <i class="fa fa-edit"></i>
    </button>
</div>
<div class="modal fade" id="sequenceType">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans %}edit sequence{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        {{ form_row(form.simulator) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        {{ form_row(form.date) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        {{ form_row(form.plot) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ form_row(form.cropBBCH) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_row(form.canopyCover) }}
                    </div>
                </div>
               <div class="row">
                    <div class="form-group col-md-12">

                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#Run_{{ form.vars.value.getId() }}_cropConditionCZ" data-toggle="tab" aria-expanded="true">{{ form_label(form.cropConditionCZ) }}</a>
                                </li>
                                <li class="">
                                    <a href="#Run_{{ form.vars.value.getId() }}_cropConditionEN" data-toggle="tab" aria-expanded="false">{{ form_label(form.cropConditionEN) }}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="Run_{{ form.vars.value.getId() }}_cropConditionCZ">
                                    {{ form_widget(form.cropConditionCZ) }}
                                </div>
                                <div class="tab-pane" id="Run_{{ form.vars.value.getId() }}_cropConditionEN">
                                    {{ form_widget(form.cropConditionEN) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">
                    {% trans %}close{% endtrans %}
                </button>
                {{ form_row(form.save) }}
            </div>
        </div>
    </div>
</div>

