{{ form_start(form) }}
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.nameCZ) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.nameEN) }}
    </div>
</div><div class="row">
    <div class="col-md-12">
        {{ form_row(form.descriptionCZ) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.descriptionCZ) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.reference) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.organization) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.publications) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.save) }}
    </div>
    <div class="col-md-6">
        <a href="{{ path('settings',{'class':class}) }}" class="btn btn-warning pull-right">{% trans %}cancel{% endtrans %}</a>
    </div>
</div>
{{ form_end(form,{'render_rest': false}) }}
