{% extends 'base.html.twig' %}

{% block dtc_grid_stylesheets %}
    {% for stylesheet in dtc_grid_datatables_css %}
        <link rel="stylesheet" href="{{ stylesheet }}"/>
    {% endfor %}
    {% for stylesheet in dtc_grid_local_css %}
        <link rel="stylesheet" href="/bundles/dtcgrid/{{ stylesheet }}"/>
    {% endfor %}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            {{class_name}}
            <a href="{{ path('definition_entity',{'class':class}) }}" class="btn btn-primary"><i></i> {% trans %}new{% endtrans %}</a>
        </h1>
    </section>

    <section class="content container-fluid">
        <div class="box">
            <div class="box-body">
                {{ dtc_grid.render | raw }}
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block dtc_grid_javascripts %}
    <script type="text/javascript" src="{{ dtc_grid_purl }}"></script>
    {% for javascript in dtc_grid_datatables_js %}
        <script type="text/javascript" src="{{ javascript }}"></script>
    {% endfor %}
    {% for javascript in dtc_grid_local_js %}
        <script type="text/javascript" src="/bundles/dtcgrid/{{  javascript }}"></script>
    {% endfor %}
{% endblock %}
