{% extends 'base.html.twig' %}
{% block title %}RunoffDB - {% trans %}add soil sample{% endtrans %}{% endblock %}
{% block body %}

<section class="content-header">
    <h1>
        {% trans %}add measurement{% endtrans %}
    </h1>
</section>

<section class="content">
    <div class="box box-primary">
        {{form_start(form)}}
        <div class="box-body">
            <div class="row">
                <div class="form-group col-md-12">
                    {{ form_row(form.phenomenon) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    {{ form_row(form.locality) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    {{ form_row(form.plot) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    {{ form_row(form.date) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#measurement_description_cz" data-toggle="tab" aria-expanded="true">{{ form_label(form.descriptionCZ) }}</a>
                            </li>
                            <li class="">
                                <a href="#measurement_description_en" data-toggle="tab" aria-expanded="false">{{ form_label(form.descriptionEN) }}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="measurement_description_cz">
                                {{ form_widget(form.descriptionCZ) }}
                            </div>
                            <div class="tab-pane" id="measurement_description_en">
                                {{ form_widget(form.descriptionEN) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#measurement_note_cz" data-toggle="tab" aria-expanded="true">{{ form_label(form.noteCZ) }}</a>
                            </li>
                            <li class="">
                                <a href="#measurement_note_en" data-toggle="tab" aria-expanded="false">{{ form_label(form.noteEN) }}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="measurement_note_cz">
                                {{ form_widget(form.noteCZ) }}
                            </div>
                            <div class="tab-pane" id="measurement_note_en">
                                {{ form_widget(form.noteEN) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            {{ form_row(form.save) }}
        </div>
    </div>
</section>


{% endblock %}
