{% extends 'base.html.twig' %}
{% block title %}RunoffDB{% endblock %}
{% import 'macros.twig' as macros %}

{% block body %}
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
    </script>
    <section class="content-header">
        <h1>
            {{ soilSample }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('soilSamples') }}"><i class="fa fa-list"></i>&nbsp;&nbsp;&nbsp;Seznam</a></li>
        </ol>
    </section>


    <section class="content">
        {% if (is_granted('edit',soilSample)) %}
            {{ form_start(form) }}
        {% endif %}

        {% if runService.findBySoilSample(soilSample)|length >0 %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="box box-solid">
                        <div class="box-header">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#runs" class="collapsed"
                                   aria-expanded="false">{% trans %}linked runs{% endtrans %}
                                </a>
                            </h4>
                        </div>
                        <div id="runs" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="box-body">
                                {% for run in runService.findBySoilSample(soilSample) %}
                                    <p>
                                        {{ run }}
                                        {% if run.getSequence()!=null %}
                                            <a href="{{ path('sequence',{'id':run.getSequence().getId()}) }}"
                                               target="_blank"> <i class="fa fa-external-link"></i></a>
                                        {% endif %}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-12">
                <div class="box box-solid">
                    <div class="box-header">
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <dl class="dl-horizontal">
                                    {% if soilSample.getLocality() is not same as null %}
                                        <dt>{% trans %}locality{% endtrans %}:</dt>
                                        <dd>{{ soilSample.getLocality() }}</dd>
                                    {% endif %}

                                    {% if soilSample.getPlot() is not same as null %}
                                        <dt>{% trans %}Plot{% endtrans %}:</dt>
                                        <dd>{{ soilSample.getPlot() }}</dd>
                                    {% endif %}

                                    {% if soilSample.getFormatedDateSampled() is not same as null %}
                                        <dt>{% trans %}Sample date{% endtrans %}:</dt>
                                        <dd>{{ soilSample.getFormatedDateSampled() }}</dd>
                                    {% endif %}

                                    {% if soilSample.getProcessedAt() is not same as null %}
                                        <dt>{% trans %}Processed at{% endtrans %}:</dt>
                                        <dd>{{ soilSample.getProcessedAt() }}</dd>
                                    {% endif %}

                                    {% if soilSample.getFormatedDateProcessed() is not same as null %}
                                        <dt>{% trans %}Process date{% endtrans %}:</dt>
                                        <dd>{{ soilSample.getFormatedDateProcessed() }}</dd>
                                    {% endif %}

                                    {% if soilSample.getWRBsoilClass() is not same as null %}
                                        <dt>{% trans %}WRB soil class{% endtrans %}:</dt>
                                        <dd>{{ soilSample.getWRBsoilClass() }}</dd>
                                    {% endif %}

                                    {% if soilSample.getSampleDepthM() is not same as null %}
                                        <dt>{% trans %}sampleDepthM{% endtrans %}:</dt>
                                        <dd>{{ soilSample.getRoundedSampleDepthM() }} m</dd>
                                    {% endif %}

                                    {% if soilSample.getSampleLocation() is not same as null %}
                                        <dt>{% trans %}sampleLocation{% endtrans %}:</dt>
                                        <dd>{{ soilSample.getSampleLocation() }}</dd>
                                    {% endif %}

                                    {% if soilSample.getDescription() is not same as null %}
                                        <dt>{% trans %}Description{% endtrans %}:</dt>
                                        <dd>{{ soilSample.getDescription() }}</dd>
                                    {% endif %}

                                </dl>
                            </div>
                            <div class="col-md-6">
                                <dl class="dl-horizontal">
                                    {% if soilSample.getTextureRecord() is not same as null %}
                                        <dt>{% trans %}texture{% endtrans %}:</dt>
                                        <dd>
                                            {{ soilSample.getTextureRecord().getHtmlLabel()|raw }}
                                            {% if (is_granted('edit',soilSample)) %}
                                                <a role="menuitem" data-confirm="{% trans %}unlink{% endtrans %}?"
                                                   href="{{ path('istexture', {soilSampleId:soilSample.getId(),recordId:null}) }}"><i
                                                            class="text-danger fa fa-trash"></i></a>
                                            {% endif %}
                                        </dd>
                                    {% endif %}

                                    {% if soilSample.getCorg() is not same as null %}
                                        <dt>{% trans %}Corg{% endtrans %}:</dt>
                                        <dd>{{ soilSample.getCorg().getHtmlLabel()|raw }}
                                            {% if (is_granted('edit',soilSample)) %}
                                                <a role="menuitem" data-confirm="{% trans %}unlink{% endtrans %}?"
                                                   href="{{ path('iscorg', {soilSampleId:soilSample.getId(),recordId:null}) }}"><i
                                                            class="text-danger fa fa-trash"></i></a>
                                            {% endif %}
                                        </dd>
                                    {% endif %}

                                    {% if soilSample.getMoisture() is not same as null %}
                                        <dt>{% trans %}moisture{% endtrans %}:</dt>
                                        <dd>{{ soilSample.getMoisture().getHtmlLabel()|raw }}
                                            {% if (is_granted('edit',soilSample)) %}
                                                <a role="menuitem" data-confirm="{% trans %}unlink{% endtrans %}?"
                                                   href="{{ path('ismoisture', {soilSampleId:soilSample.getId(),recordId:null}) }}"><i
                                                            class="text-danger fa fa-trash"></i></a>
                                            {% endif %}
                                        </dd>
                                    {% endif %}

                                    {% if soilSample.getBulkDensity() is not same as null %}
                                        <dt>{% trans %}bulkDensity{% endtrans %}:</dt>
                                        <dd>{{ soilSample.getBulkDensity().getHtmlLabel()|raw }}
                                            {% if (is_granted('edit',soilSample)) %}
                                                <a role="menuitem" data-confirm="{% trans %}unlink{% endtrans %}?"
                                                   href="{{ path('isbulkDensity', {soilSampleId:soilSample.getId(),recordId:null}) }}"><i
                                                            class="text-danger fa fa-trash"></i></a>
                                            {% endif %}
                                        </dd>
                                    {% endif %}

                                    {% if soilSample.getFiles()|length>0 %}
                                        <dt>{% trans %}files{% endtrans %}</dt>
                                        <dd>
                                            {% for file in soilSample.getFiles() %}
                                                <a href="{{ path('downloadSoilSampleFile',{'id':soilSample.getId(),'filename':file}) }}"
                                                   target="_blank">{{ file }}</a>
                                                <a class="text-danger" data-confirm="{% trans %}delete?{% endtrans %}"
                                                   href="{{ path('deleteSoilSampleFile',{'id':soilSample.getId(),'filename':file}) }}"><i
                                                            class="fa fa-trash"></i></a>
                                                <br/>
                                            {% endfor %}
                                        </dd>
                                    {% endif %}
                                </dl>
                            </div>
                        </div>
                    </div>
                    {% if (is_granted('edit',soilSample)) %}
                        <div class="box-footer">
                            {% if (is_granted('edit',soilSample)) %}
                                {% include "forms/soilSampleTypeModalEdit.html.twig" %}
                            {% endif %}

                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                    data-parent="{{ soilSample.getId() }}" data-target="#measurement">
                                <i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;{% trans %}add measurement{% endtrans %}
                            </button>


                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                    data-parent="{{ soilSample.getId() }}" data-target="#append_measurement">
                                <i class="fa fa-chain"></i>&nbsp;&nbsp;&nbsp;{% trans %}append measurement{% endtrans %}
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 records">
                {% for formMeasurement in form.measurements %}

                    {% set measurementArray = measurements[formMeasurement.vars.value.getId()] %}


                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel box box-info">
                                <div class="box-header">
                                    #{{ formMeasurement.vars.value.getId() }}
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>{{ formMeasurement.vars.value.getPhenomenon() }}</h4>

                                            <p>
                                                {% if measurementArray['description'] %}
                                                    {{ measurementArray['description'] }}
                                                {% endif %}
                                            </p>
                                            {% if measurementArray['note'] %}
                                                <i>* {{ measurementArray['note'] }}</i>
                                            {% endif %}
                                        </div>

                                        <div class="col-md-6">
                                            {% if (is_granted('edit',soilSample)) %}
                                                <div class="row margin-bottom-sm">
                                                    <div class="col-sm-12 align-right">
                                                        <a class="btn btn-info btn-sm" href="javascript:;"
                                                           data-toggle="modal"
                                                           data-parent="{{ measurementArray['id'] }}"
                                                           data-target="#record">
                                                            <i
                                                                    class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;{% trans %}add record{% endtrans %}
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-sm">
                                                    <div class="col-sm-12 align-right">
                                                        <a class="btn btn-info btn-sm" data-toggle="modal"
                                                           data-target="#measurement{{ formMeasurement.vars.value.getId() }}"
                                                           href="#">
                                                            <i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;{% trans %}edit measurement{% endtrans %}
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-sm">
                                                    <div class="col-sm-12 align-right">
                                                        <a class="btn btn-info btn-sm"
                                                           data-confirm="{% trans %}unlink?{% endtrans %}"
                                                           href="{{ path('soilSample', {id:soilSample.getId(),unlink_measurement:formMeasurement.vars.value.getId()}) }}">
                                                            <i class="fa fa-chain-broken"></i>&nbsp;&nbsp;&nbsp;{% trans %}unlink measurement{% endtrans %}

                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom">
                                                    <div class="col-sm-12 align-right">
                                                        <a class="btn btn-info btn-sm"
                                                           data-confirm="{% trans %}delete?{% endtrans %}"
                                                           href="{{ path('soilSample', {id:soilSample.getId(),delete_measurement:formMeasurement.vars.value.getId()}) }}">
                                                            <i class="fa fa-trash"></i>&nbsp;&nbsp;&nbsp;{% trans %}delete measurement{% endtrans %}
                                                        </a>
                                                    </div>
                                                </div>
                                                {% include "forms/measurementTypeModalEdit.html.twig" with {'parentId':soilSample.getId()} %}
                                            {% endif %}
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box-group" id="accordion">
                                                {% for formRecord in formMeasurement.records %}
                                                    {% set record = formRecord.vars.value %}
                                                    <div class="panel box bg-gray-light">
                                                        <div class="box-header{% if recordsService.isRecordSetAsInSoilSampleContext(record, soilSample) %} bg-warning{% endif %}">
                                                            <div>
                                                                #{{ record.getId() }}</div>
                                                            <br/>
                                                            <h4 class="box-title">
                                                                <a data-toggle="collapse" data-parent="#accordion"
                                                                   href="#record-{{ record.getId() }}" class="collapsed"
                                                                   aria-expanded="false">
                                                                    {% if record.getUnit() is not same as(null) %}
                                                                        {{ record.getUnit().getName() }}
                                                                    {% endif %}
                                                                </a>
                                                                <small>
                                                                    {% if record.getRecordType()  is not same as(null) %}
                                                                        {{ record.getRecordType().getName() }}
                                                                    {% endif %}
                                                                </small>
                                                            </h4>
                                                            {% if record.getIsTimeline() %}
                                                                <label class="pull-right text-gray-dark text-normal">
                                                                    {% trans %}show chart{% endtrans %}
                                                                    <input type="checkbox"
                                                                           data-toggle="chart"
                                                                           data-target="#chart-soil-sample"
                                                                           data-sample="{{ soilSample.getId() }}"
                                                                           data-record="{{ record.getId() }}">
                                                                </label>
                                                            {% endif %}
                                                        </div>


                                                        <div id="record-{{ record.getId() }}"
                                                             class="panel-collapse collapse"
                                                             aria-expanded="false" style="height: 0px;">
                                                            <div class="box-body">


                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <p>
                                                                            {% trans %}derived from{% endtrans %}
                                                                            {% for sourceRecord in record.getSourceRecords() %}
                                                                                <span class="badge bg-primary"> #{{ sourceRecord.getId() }}</span>
                                                                            {% endfor %}
                                                                        </p>
                                                                        <p>{{ record.getDescription() }}</p>
                                                                        <p>
                                                                            <i>{{ record.getNote() }}</i>
                                                                        </p>
                                                                    </div>


                                                                    <div class="col-md-6 align-right">
                                                                        {% if (is_granted('edit',soilSample)) %}
                                                                            <p>

                                                                                <label class="text-gray-dark text-normal">{% trans %}set as moisture{% endtrans %}
                                                                                    {% if recordsService.isRecordSetAsInSoilSampleContext(record, soilSample, 'moisture') %}
                                                                                        <input
                                                                                                checked="checked"
                                                                                                type="checkbox"
                                                                                                class="href"
                                                                                                data-hardlink="{{ path('ismoisture', {soilSampleId:soilSample.getId()}) }}"/>
                                                                                    {% else %}
                                                                                        <input
                                                                                                type="checkbox"
                                                                                                class="href"
                                                                                                data-hardlink="{{ path('ismoisture', {soilSampleId:soilSample.getId(),recordId:record.getId()}) }}"/>
                                                                                    {% endif %}
                                                                                </label>
                                                                                <br/>

                                                                                <label class="text-gray-dark text-normal">{% trans %}set as texture{% endtrans %}
                                                                                    {% if recordsService.isRecordSetAsInSoilSampleContext(record, soilSample, 'texture') %}
                                                                                        <input
                                                                                                checked="checked"
                                                                                                type="checkbox"
                                                                                                class="href"
                                                                                                data-hardlink="{{ path('istexture', {soilSampleId:soilSample.getId()}) }}"/>
                                                                                    {% else %}
                                                                                        <input
                                                                                                type="checkbox"
                                                                                                class="href"
                                                                                                data-hardlink="{{ path('istexture', {soilSampleId:soilSample.getId(),recordId:record.getId()}) }}"/>
                                                                                    {% endif %}
                                                                                </label>
                                                                                <br/>
                                                                                <label class="text-gray-dark text-normal">{% trans %}set as corg{% endtrans %}
                                                                                    {% if recordsService.isRecordSetAsInSoilSampleContext(record, soilSample, 'corg') %}
                                                                                        <input
                                                                                                checked="checked"
                                                                                                type="checkbox"
                                                                                                class="href"
                                                                                                data-hardlink="{{ path('iscorg', {soilSampleId:soilSample.getId()}) }}"/>
                                                                                    {% else %}
                                                                                        <input
                                                                                                type="checkbox"
                                                                                                class="href"
                                                                                                data-hardlink="{{ path('iscorg', {soilSampleId:soilSample.getId(),recordId:record.getId()}) }}"/>
                                                                                    {% endif %}
                                                                                </label>
                                                                                <br/>

                                                                                <label class="text-gray-dark text-normal">{% trans %}set as bulkDensity{% endtrans %}
                                                                                    {% if recordsService.isRecordSetAsInSoilSampleContext(record, soilSample, 'bulk_density') %}
                                                                                        <input
                                                                                                checked="checked"
                                                                                                type="checkbox"
                                                                                                class="href"
                                                                                                data-hardlink="{{ path('isbulkDensity', {soilSampleId:soilSample.getId()}) }}"/>
                                                                                    {% else %}
                                                                                        <input
                                                                                                type="checkbox"
                                                                                                class="href"
                                                                                                data-hardlink="{{ path('isbulkDensity', {soilSampleId:soilSample.getId(),recordId:record.getId()}) }}"/>
                                                                                    {% endif %}
                                                                                </label>
                                                                            </p>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <table class="table table-bordered">
                                                                            <tr>
                                                                                <th>{% trans %}time{% endtrans %}</th>
                                                                                {% if record.getRelatedValueXUnit() is not same as(null) %}
                                                                                    <th>{{ record.getRelatedValueXUnit().getName() }}
                                                                                        [{{ record.getRelatedValueXUnit().getUnit()|raw }}
                                                                                        ]
                                                                                    </th>
                                                                                {% endif %}
                                                                                {% if record.getRelatedValueYUnit() is not same as(null) %}
                                                                                    <th>{{ record.getRelatedValueYUnit().getName() }}
                                                                                        [{{ record.getRelatedValueYUnit().getUnit()|raw }}
                                                                                        ]
                                                                                    </th>
                                                                                {% endif %}
                                                                                {% if record.getRelatedValueZUnit() is not same as(null) %}
                                                                                    <th>{{ record.getRelatedValueZUnit().getName() }}
                                                                                        [{{ record.getRelatedValueZUnit().getUnit()|raw }}
                                                                                        ]
                                                                                    </th>
                                                                                {% endif %}
                                                                                <th>
                                                                                    {% if record.getUnit() is not same as(null) %}
                                                                                        {{ record.getUnit().getName() }}
                                                                                        [{{ record.getUnit().getUnit()|raw }}]
                                                                                    {% endif %}
                                                                                </th>
                                                                            </tr>
                                                                            {% if (is_granted('viewall',soilSample)) %}
                                                                                {% for data in record.getData() %}
                                                                                    <tr>
                                                                                        <td>{{ data.getFormatedTime() ?? 0 }}</td>
                                                                                        {% if  record.getRelatedValueXUnit() is not same as(null) %}
                                                                                            {% if data.getRelatedValueX() is not same as(null) %}
                                                                                                <td>{{ data.getRelatedValueXRounded() }}</td>
                                                                                            {% else %}
                                                                                                <td></td>
                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                        {% if  record.getRelatedValueYUnit() is not same as(null) %}
                                                                                            {% if data.getRelatedValueY() is not same as(null) %}
                                                                                                <td>{{ data.getRelatedValueYRounded() }}</td>
                                                                                            {% else %}
                                                                                                <td></td>
                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                        {% if  record.getRelatedValueZUnit() is not same as(null) %}
                                                                                            {% if data.getRelatedValueZ() is not same as(null) %}
                                                                                                <td>{{ data.getRelatedValueZRounded() }}</td>
                                                                                            {% else %}
                                                                                                <td></td>
                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                        <td>{{ data.getValueRounded() }}</td>
                                                                                    </tr>
                                                                                {% endfor %}
                                                                            {% endif %}
                                                                        </table>
                                                                    </div>
                                                                </div>

                                                                {% if (is_granted('edit',soilSample)) %}
                                                                    <div class="box-footer bg-gray-light align-right">
                                                                        <a
                                                                                data-confirm="{% trans %}delete?{% endtrans %}"
                                                                                class="btn btn-info btn-sm"
                                                                                href="{{ path('soilSample', {id:soilSample.getId(),delete_record:record.getId()}) }}"><i
                                                                                    class="fa fa-trash"></i>&nbsp;&nbsp;&nbsp;{% trans %}delete{% endtrans %}
                                                                        </a>

                                                                        <a role="menuitem"
                                                                           class="btn btn-info btn-sm"
                                                                           href="#"
                                                                           data-toggle="modal"
                                                                           data-target="#record{{ record.getId() }}"><i
                                                                                    class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans %}edit{% endtrans %}
                                                                        </a>
                                                                        {% include "forms/recordTypeModalEdit.html.twig" %}
                                                                    </div>
                                                                {% endif %}

                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary chart-box">
                    <div class="box-body collapse">
                        <div id="chart-soil-sample" style="height: 300px;"
                             data-datalink="{{ path('chartDataSoilSample') }}"></div>
                    </div>
                    <!-- /.box-body-->
                </div>
            </div>
        </div>
        {% if (is_granted('edit',soilSample)) %}
            {{ form_end(form,{'render_rest': false}) }}
        {% endif %}
    </section>
    {% if (is_granted('edit',soilSample)) %}
        {% include "forms/measurementTypeModalNew.html.twig" %}
        {% include "forms/measurementTypeModalAppend.html.twig" %}
        {% include "forms/recordTypeModalNew.html.twig" %}
    {% endif %}
{% endblock %}

{% block footer %}
    <div class="float-right d-none d-sm-inline-block">
        <b>{{ "author"|trans }}:</b> {{ soilSample.getUser().getFullname() }}
        - {{ soilSample.getUser().getOrganization() }}
    </div>
{% endblock %}
