{% extends 'base.html.twig' %}
{% block title %}RunoffDB - {% trans %}overview table{% endtrans %}{% endblock %}
{% block body %}
    <section class="content-header">
        <h1>
            {% trans %}overview table{% endtrans %}
        </h1>
    </section>
    <section class="content container-fluid">
        <div class="row">
            <div class="col-lg-12">
        <div class="box box-solid">
            <div class="panel box box-solid">
                <div class="box-body no-padding">
                <table class="table table-sm overview">
                    {% for soilSample in soilSamples %}
                        <tr>
                            <td><a href="{{ path('soilSample',{id:soilSample.getId()}) }}">{{ soilSample.getId() }}</a></td>
                            <td>{{ soilSample.getDateSampled().format("d.m.Y") }}</td>
                            <td>
                                {% if soilSample.getLocality() %}
                                {{ soilSample.getLocality().getName() }}
                                {% endif %}
                            </td>
                            {% for key in ['soilphys','soiltext','soilchem'] %}
                                {% set phenomenon =  phenomenonRepository.findByKey(key) %}
                                {% set records =  soilSampleService.getRecordsByPhenomenon(soilSample, key) %}
                                <td class="hasrecords-{{ records|length }}">
                                    <span data-toggle="tooltip" title="{{ phenomenon.getName() }}" data-placement="top">{{ records|length }}</span>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
