<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}RunoffDB {% endblock %}</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <!-- Google Font -->
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    {% endblock %}

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header" style="z-index: 700;">
        <a href="/" class="logo">
            <span class="logo-mini"><b>Run-off</b>DB</span>
            <span class="logo-lg"><b>Run-off</b>DB</span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
            <div class="container">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="collapse navbar-collapse pull-left" id="navbar-collapse-top">
                    {{ render(controller(
                        'App\\Controller\\CmsControler::pagesMenu'
                    )) }}
                </div>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ app.request.getLocale() }}
                            </a>
                            <ul class="dropdown-menu">
                                {% set route = app.request.attributes.get('_route') %}
                                {% set route_params = app.request.attributes.get('_route_params') %}
                                {% set params = route_params|merge(app.request.query.all) %}
                                <li>
                                    <a class="" href="{{ path(route, params|merge({ _locale: 'cs' })) }}">
                                        cs
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="{{ path(route, params|merge({ _locale: 'en' })) }}">
                                        en
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {{ render(controller(
                            'App\\Controller\\SecurityController::usermenu'
                        )) }}
                    </ul>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-top">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar" style="top: 60px; padding-top: 0px;">

        <section class="sidebar">
            {{ knp_menu_render('admin') }}
        </section>
    </aside>

    <div class="content-wrapper">
        {% block body %}{% endblock %}
    </div>

    <footer class="main-footer">
        {% trans %}footer_text{% endtrans %}
        {% block footer %}{% endblock %}
    </footer>
</div>
{% block javascripts %}
    <script type="text/javascript">
        var tooltips = '{{ tooltips()|raw }}';
    </script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>

